<div class="container">
  <h1>Dashboard</h1>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Posts</h5>
            <p class="card-text"><%= @postsCount %></p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Replies</h5>
            <p class="card-text"><%= @repliesCount %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
