[submodule "repos/List-of-Dirty-Naughty-Obscene-and-Otherwise-Bad-Words"]
	path = repos/List-of-Dirty-Naughty-Obscene-and-Otherwise-Bad-Words
	url = git@github.com:patoui/List-of-Dirty-Naughty-Obscene-and-Otherwise-Bad-Words.git
