<div class="container">

  <%= form_tag("/thread") do %>

    <div class="form-group">

      <label for="title">Title</label>

      <input id="title" name="title" type="text" class="form-control" />

      <div class="invalid-feedback d-block">

        <% if @post.errors.include?(:title) %>

          <% @post.errors[:title].each do |message| %>

            <p><%= message %></p>

          <% end %>

        <% end %>

      </div>

    </div>

    <div class="form-group">

      <label for="body">Body</label>

      <textarea id="body" name="body" class="form-control"></textarea>

      <div class="invalid-feedback d-block">

        <% if @post.errors.include?(:title) %>

          <% @post.errors[:title].each do |message| %>

            <p><%= message %></p>

          <% end %>

        <% end %>

      </div>

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

  <% end %>

</div>
