<div class="container">

  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">

      <h2>Replies</h2>

      <ul class="list-group list-group-flush">

        <% @replies.each do |reply| %>

          <li class="list-group-item">

            <p class="mt-2 pre-wrap"><%= reply.body %></p>

            <%= form_tag("/admin/reply/#{reply.id.to_s}", method: 'delete', class: 'mt-2') do %>
              <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
            <% end %>

            <p class="mb-0 mt-3 small text-muted">Thread: <%= reply.post.title %></p>

          </li>

        <% end %>

      </ul>

    </div>

  </div>

  <%= will_paginate @replies %>

</div>

